@font-face {
  font-family: "evanescent";
  src: url(../fonts/evanescent.ttf); }

* {
  margin: 0;
  padding: 0; }

.banner {
  animation: animate 1s linear forwards;
  text-align: center;
  letter-spacing: 10PX;
  color: white;
  font-size: 50px;
  font-family: evanescent;
  font-weight: 700; }

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(100px); }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0); } }

/*---HEADER----*/
.headerMenu, .headerMenuBootstrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  background: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 400; }
  .headerMenu a, .headerMenuBootstrap a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white; }
  .headerMenu a:hover, .headerMenuBootstrap a:hover {
    border-radius: 15px;
    background: #c764df;
    background: linear-gradient(90deg, #c764df 0%, #7f26ba 44%, #6a00ff 100%); }

body {
  background-color: black;
  color: white;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.container img {
  display: flex;
  margin: auto; }

.container ul {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  color: white; }

.container p {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white; }

footer ul {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style: none;
  background: #c764df;
  background: linear-gradient(90deg, #c764df 0%, #7f26ba 44%, #6a00ff 100%); }

footer li {
  display: flex;
  justify-items: center; }

@media screen and (max-width: 1027px) {
  .container {
    flex-direction: column;
    width: 100%; }
  .indexImg {
    width: 80%;
    height: 80%; } }

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%; }
  .indexImg {
    width: 70%;
    height: 70%; }
  .headerMenu a, .headerMenuBootstrap a {
    font-size: 12px; } }

/*EXTEND*/
.headerMenuBootstrap a:hover {
  border-radius: 16px;
  background: #6c64df;
  background: linear-gradient(90deg, #6c64df 0%, #0a1eda 44%, #0400ff 100%); }

/*Mixin imagenes de pagina banda*/
.imgBand {
  height: 350px;
  width: 400px; }
