






 


 .container img{
    display: flex;
    margin: auto;
 }
 .container ul{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
    color: white;
 }
 .container p{
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
 }


 /*----------------*/


 /*.band p{
  display: flex;
  justify-content: center;
  color: white;
 }*/



 /* Grilla NEWS*/






/*------------------------------*/


.albums p{
  display: flex;
  justify-content: center;
  color: white;
 }
