@font-face {
  font-family: "evanescent";
  src: url(../fonts/evanescent.ttf);
}

*{
	margin: 0;
	padding: 0;
}

h1{
   text-align: center; 
   color: white;
   font-size: 50px;
   font-family: evanescent;
}
h1 p{
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0%
  {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(100px);
  }
  100%
  {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }

}

/*---HEADER----*/
 .headerMenu{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   list-style: none;
   margin: 0; 
   background: black;
 }
 
 .headerMenu a {
   text-decoration: none;
   display: block;
   padding: 1em;
   color: white;
 }
 
 .headerMenu a:hover {
   /*background: #4209df;*/
   background: rgb(199,100,223);
   background: linear-gradient(90deg, rgba(199,100,223,1) 0%, rgba(127,38,186,1) 44%, rgba(106,0,255,1) 100%);

 }
 
 body{
    background-color: black;
 }

 .container img{
    display: flex;
    margin: auto;
 }
 .container ul{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    list-style: none;
    color: white;
 }
 .container p{
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
 }

 footer ul{
  margin: auto;
  padding: 5px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  list-style: none;
  /*background-color: #4209df;*/
  background: rgb(199,100,223);
  background: linear-gradient(90deg, rgba(199,100,223,1) 0%, rgba(127,38,186,1) 44%, rgba(106,0,255,1) 100%);

 }
 footer li{
  display: flex;
  justify-items: center;
 }

 .contact{
   margin: 30px;
   padding: 30px;
   text-align: center;
   background-image: url(../images/fondoT.jpg) ;
 }
 .band p{
  display: flex;
  justify-content: center;
  color: white;
 }

.albums p{
 display: flex;
 justify-content: center;
 color: white;
}

.news p{
  display: flex;
  justify-content: center;
  color: white;
 }

 /* Grilla NEWS*/

 .grilla{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "img1 text1"
  "img2 text2";
 }
 .img1{
  grid-area: img1;
 }
 .text1{
  text-align: center;
  align-content: center;
  color: white;
  grid-area: text1;
 }
 .img2{
  grid-area: img2;
 }
 .text2{
  grid-area: text2;
  color: white;
 }


 @media screen and (max-width: 1024px) {
    .container{
      flex-direction: column; 
      width: 100%;

    }
    .indexImg{
      width: 90%;
      height: 90%;
    }
 }
 @media screen and (max-width: 768px) {
  .container{
    flex-direction: column; 
    width: 100%;

  }
  .indexImg{
    width: 80%;
    height: 80%;
  }

}