.banner{
    animation: animate 1s linear forwards;
    text-align: center;
    letter-spacing: 10PX;
    font-size: 50px;
    font-family: evanescent;
    font-weight: 700;
}

@keyframes animate {
    0%
    {
      opacity: 0;
      transform: rotateY(90deg);
      filter: blur(100px);
    }
    100%
    {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0);
    }
}