.headerMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    margin: 0; 
    background: transparent;
    /*background: #1A1A40;*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: white;
    }
    a:hover {
        border-radius: 15px;
        background: rgb(113,92,161);
        background: linear-gradient(90deg, rgba(113,92,161,1) 0%, rgba(86,50,171,1) 44%, rgba(39,0,130,1) 100%);
    }
}